
<body class="d-flex justify-content-center">

<form [formGroup]="Loginform" (submit)="send()" class="rounded">

<div *ngIf="valido" id="Val" class="rounded">
  <h2 class="text-center">Datos válidos</h2>
</div>

<div *ngIf="invalido" id="Inv" class="rounded">
  <h2 class="text-center">Datos inválidos</h2>
</div>

<div>
  <h2 style="color:#304418" class="title">Login</h2>
</div>
  <div>
    <label class="pb-1"> Username </label>
    <input type="text" class="form-control" 
    id="username" #username  formControlName="username" [(ngModel)]="name" >
  </div>

  <div class="mt-3">
    <label class="pb-1"> Password</label>
    <input type="password" class="form-control" 
    #password  formControlName="password"  [(ngModel)]="pass">

  </div>

  <div class="mt-4 pb-2">
    <button  type="submit" class="btn btn-success" (click)="Login()">Login</button>
  </div>

</form>


</body>

<section>
<div class="text-center" *ngIf="valido">
  <h3 class="inicio pt-1">Inicio de sesión exitoso</h3>
  <div>
    <ul type="none">
      <li class="data">Username: {{name}}</li>
      <li class="data">Password: {{pass}}</li>
    </ul>
  </div>
</div>

</section>


<footer>
  


<nav class="navbar navbar-expand-lg  navbar-light "style="border-top: dashed #2294ff;">
  <div class="container-fluid">
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/NajhelyBS" target="_blank">@NajhelyBS</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link"   >|</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" ><span>{{ title }} app is running!</span></a>
        </li>
        
      </ul>
  
    </div>
  </div>
</nav>
</footer>